<!DOCTYPE html>
<html>
<head>
  <title>TranslationClient</title>
  <%= stylesheet_link_tag    "translation_client/application", media: "all" %>
  <%= javascript_include_tag "translation_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
